body {
    font-size: 12px;
    overflow: hidden;
    font: x-small verdana,arial,helvetica,sans-serif;
}

h1 {
    font: message-box;
    font-size: 16px;
    line-height: 32px;
    margin-left: 36px;
}

#translate_page, #translate_text {
    background: url('images/icons/translator-32.png') top left no-repeat;
}

#translate_page label {
    display: block;
    width: 40px;
    float:left
}

#auto_trans {
    line-height: 25px;
}

#translate_page label[for=auto] {
    width: 140px;
    float: left;
}

#translate_page #auto {
    width: auto;
    float: left;
}

#translate_page select {float: left;width:140px;}
#translate_page .actions {text-align: right;}

#languages_panel .top {width: 380px;clear:both;}
#languages_panel .controls {margin:0 5px;width:50px;float:left;text-align:center;padding-top:70px;}
#favorites, #available {width: 150px;float:left;}
#languages_panel .actions {clear:both;text-align:right;width:380px;}

#text {resize: none;width: 380px;height: 150px; }
.controls {padding: 7px 10px;}
.actions {height: 32px; clear:both;text-align: right;}
.actions button{margin-top: 10px; }

select {width: 150px;}

option.flag {
    padding-left: 25px;
    background-position: 3px center;
    background-repeat: no-repeat;
}

i.flag {
    display: inline-block;
    vertical-align: text-top;
    line-height: 11px;
    width: 16px;
    height: 11px;   
    background-repeat: no-repeat;
    background-position: center center;
}

i.icon {
    display: inline-block;
    width: 16px;
    height: 16px;   
    background-repeat: no-repeat;
    background-position: center center;
}

i.icon-add {background-image: url(images/add.png);}

option.flag.favorite {font-weight:bold;}

.flag.ar {background-image: url(images/flags/sd.png);}
.flag.bg {background-image: url(images/flags/bg.png);}
.flag.ca {background-image: url(images/flags/catalonia.png);}
.flag.zh-CHS, .flag.zh-CHT {background-image: url(images/flags/cn.png);}
.flag.cs {background-image: url(images/flags/cz.png);}
.flag.da {background-image: url(images/flags/dk.png);}
.flag.nl {background-image: url(images/flags/nl.png);}
.flag.en {background-image: url(images/flags/gb.png);}
.flag.et {background-image: url(images/flags/ee.png);}
.flag.fa {background-image: url(images/flags/ir.png);}
.flag.fi {background-image: url(images/flags/fi.png);}
.flag.fr {background-image: url(images/flags/fr.png);}
.flag.de {background-image: url(images/flags/de.png);}
.flag.el {background-image: url(images/flags/gr.png);}
.flag.ht {background-image: url(images/flags/ht.png);}
.flag.he {background-image: url(images/flags/il.png);}
.flag.hi {background-image: url(images/flags/in.png);}
.flag.hu {background-image: url(images/flags/hu.png);}
.flag.id {background-image: url(images/flags/id.png);}
.flag.it {background-image: url(images/flags/it.png);}
.flag.ja {background-image: url(images/flags/jp.png);}
.flag.ko {background-image: url(images/flags/kr.png);}
.flag.lv {background-image: url(images/flags/lv.png);}
.flag.lt {background-image: url(images/flags/lt.png);}
.flag.mww{background-image: url(images/flags/th.png);}
.flag.no {background-image: url(images/flags/no.png);}
.flag.pl {background-image: url(images/flags/pl.png);}
.flag.pt {background-image: url(images/flags/pt.png);}
.flag.ro {background-image: url(images/flags/ro.png);}
.flag.ru {background-image: url(images/flags/ru.png);}
.flag.sk {background-image: url(images/flags/sk.png);}
.flag.sl {background-image: url(images/flags/sl.png);}
.flag.es {background-image: url(images/flags/es.png);}
.flag.sv {background-image: url(images/flags/sv.png);}
.flag.th {background-image: url(images/flags/th.png);}
.flag.tr {background-image: url(images/flags/tr.png);}
.flag.uk {background-image: url(images/flags/ua.png);}
.flag.vi {background-image: url(images/flags/vi.png);}

ul.tabs {
    list-style: none;
    display: block;
    height: 20px;
    overflow: hidden;
    padding: 5px;
    margin: 0;
    padding-bottom: 5px;
    border: 1px solid;
    border-radius: 4px 4px 0 0;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) #fff rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
}
ul.tabs > li {
    display: block;
    float: left;
    border-style: solid;
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    padding: 3px 5px;
    font: x-small;
    cursor: pointer;
    margin: 0 5px 0 0;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: 20px;
    vertical-align: middle;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out 0.1s;
}


ul.tabs li[data-lang="origin"] i.flag, ul.tabs li.add-tab i.flag {
    margin-right: 7px;
}

ul.tabs > li.active {
    background: #fff;
    opacity: 1;
}

ul.tabs > li:hover, ul.tabs > li.add-tab {
    opacity: 1;
}

ul.tabs > li.add-tab {
    margin-right: 0px;
}


div.lang-select {
    height: 200px;
    width: 150px;
    display: none;
    position: absolute;
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 0 4px;
    margin-left: -130px;
    margin-top: -3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div.lang-select div[data-lang] {
    padding: 5px;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: 20px;
    font-size: x-small;
}

div.lang-select div[data-lang]:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
}

div.tab-content {
    clear: both;
    background : #fff;
}

div.tab-content > div {
    display: none;
}

div.tab-content > div.active {
    display: block;
}

div.tab-content textarea {
    border: 1px solid;
    border-width: 0 1px;
    border-color: rgba(0, 0, 0, 0.15);
    resize: none;
    margin: 0;
    width: 100%;
    height: 150px;
    padding: 5px;
}

div.tab-content div.tab-toolbar {
    font: x-small;
    border: 1px solid #252525;
    background-image: linear-gradient(to bottom, #222222, #111111);
    color: #999;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}

div.tab-toolbar div.lang-info {
    float:left;
}

.spinner {
    display: none;
    width: 16px;
    height: 16px;
    float:right;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    margin: 5px;
}
.working .spinner {display: block;background: url(images/spinner.gif);}
